@media (max-width: 800px) {
  h1 {
    background-color: purple;
    text-align: center;
  }
  h2,
  h3,
  p,
  footer {
    text-align: center;
  }
  .btn-secondary {
    background-color: purple;
    display: block;
    text-align: center;
  }
}
